* {
    box-sizing: border-box;
}

:root {
    --main-bg-color: #F2F2F2;
    --Blue-color: #0065FC;
    --Blue-light: #DEEBFF;
}

body {
    font-family: Raleway, Helvetica, sans-serif;
}

ul,
a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    min-height: 100%;
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

.page {
    margin: 30px 60px 60px;
}

.navigationImage {
    height: auto;
    align-self: center;
}

.navigationImage img {
    width: 40%;
}

.navigationBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigationListe {
    display: inline-flex;
    gap: 68px;
    color: black;
}

.navigationListe a {
    color: black;
}

.navigationListe a:hover {
    border-top: solid 2px var(--Blue-color);
    padding-top: 47px;
    color: black;
}

.pageMain {
    margin: 60px 30px;
}

.pageFormRecherche {
    padding: 10px;
}

form h1 {
    font-weight: bold;
    font-size: 24px;
}

.form-search {
    display: flex;
}

.fa-map-marker-alt {
    background-color: var(--main-bg-color);
    border-right: none;
    padding: 12px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

input[type=search] {
    font-weight: bold;
    color: black;
    border: none;
    border: solid 1px var(--main-bg-color);
    padding: 11px 10px 10px;
    width: 14em;

}

input[type=search]:focus {
    outline: none !important;
    border-color: var(--Blue-light);
}

.btn-submit-mobile {
    background: var(--Blue-color);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    padding: 12px 10px 11px;
    color: white;
}

.fa-search {
    display: none;
    color: black;
}

.boutonDeRecherche {
    background: var(--Blue-color);
    cursor: pointer;
    border-radius: 15px;
}

.form-filtres-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 30px;
}

.filtre-texte {
    font-weight: bold;
    color: black;
    margin-right: 20px;
}

.filtre-box {
    border: solid 2px #F2F2F2;
    border-radius: 50px;
    font-weight: bold;
    padding-right: 2%;
    margin-right: 10px;
}

.fas-filtre {
    padding: 12px;
    border-radius: 50px;
    background-color: #DEEBFF;
    color: blue;
}

.filtre-box-2 i {
    width: 40px;
}

.filtre-box:hover {
    cursor: pointer;
    color: black;
}

.filtre-box:hover i {
    cursor: pointer;
    color: grey;
}

.conteneurInformations {
    width: 531px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-right: 15px;
    font-size: 14px;
}

.conteneurIcon{
    border: solid 2px var(--main-bg-color);
    margin-right: 12px;
    border-radius: 100%;
    width: 25px;
}

.fa-info {
    color: blue
}

.conteneurLogements {
    display: flex;
    margin-top: 50px;
}

.conteneurGauche {
    flex: 70;
    background-color: var(--main-bg-color);
    border-radius: 30px;
    padding: 0 20px;
}

.conteneurGauche > h2 {
    margin-top: 50px;
    margin-bottom: 30px;
}

.conteneurLogements .boxInformations {
    height: 70px;
}

.conteneurGauche>h3 {
    margin-bottom: 50px;
}

h3 a {
    color: black;
}

.container-informations {
    display: flex;
    flex-wrap: wrap;
}

.box {
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 20%);
}

.boxGauche {
    flex: 1 0 160px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 200px;
    padding: 5px;
}

.box a {
    color: black;
}

.boxInformations {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    height: 70px;
}

.boxImage {
    height: 60%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.boxInformations>h4 {
    margin: 0;
    margin: 8px 0 4px 0;
    font-size: 15px;
}

.boxInformations>p {
    margin: 0;
}

.box-etoiles {
    display: flex;
    font-size: 12px;
    height: 60%;
    align-items: flex-end;
}

.etoile-bleue {
    color: var(--Blue-color);
}

.etoile-gris {
    color: #d1d1d1;
}

.container-droit {
    flex: 30;
    margin-left: 30px;
    background-color: var(--main-bg-color);
    padding: 0 20px;
    border-radius: 30px;
}

.fa-chart-line {
    color: black;
}

.lien-externe {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;
}

.lien-externe>h2 {
    margin: 0;
}

.box-aside {
    display: flex;
    margin-bottom: 20px;
    height: 135px;
    padding: 5px;
}

.container-box a {
    color: black;
}

aside .boxImage {
    width: 40%;
    height: auto;
}

aside .box .boxInformations {
    width: 70%;
    height: auto;
}

.image-aside {
    width: 100%;
    height: 60%;
    border-radius: 20px 0 0 20px;
}

.boxInformations-aside > h4 {
    margin-bottom: 0;
    margin-top: 10px;
}

.boxInformations-aside > p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.activites {
    margin-top: 60px;
    margin-bottom: 50px;
}

.containerActivitesFlex {
    height: 380px;
    display: flex;
}

.container-activites-informations {
    margin: 0 30px;
}

.container-activites-informations>a {
    color: black;
}

.boxImage-activités {
    width: 100%;
    height: 80%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.container-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.informations-column>a {
    color: black;
}

.informations-1 {
    margin-left: 0;
    width: 23%;
}

.informations-2 {
    height: 50%;
}

.informations-3 {
    height: 40%;
}

.informations-4 {
    width: 23%;
}

.informations-5 {
    height: 40%;
}

.informations-6 {
    height: 50%;
}

.container-image {
    height: 90%;
    border-radius: 20px 20px 0 0;
}

.container-texte-column {
    padding-left: 20px;
    display: flex;
    height: 20%;
    align-items: center;
}

.boxImage-activités-1 {
    height: 75%;
}

.container-texte {
    padding-left: 20px;
    border-radius: 0 0 30px 30px;
    display: flex;
    height: 10%;
    align-items: center;
}

.page-footer {
    background-color: var(--main-bg-color);
    width: 100%;
}

.container-col-footer {
    display: flex;
    padding: 50px 90px;
}

.col-footer {
    flex: 1;
}

.footer-li {
    margin: 15px 0;
}

.footer-li a {
    color: black;
}

@media (min-width: 1142px) {
    .pageFormRecherche {
        padding: 10px;
        width: 70%;
    }
    .boxGauche {
        flex: 1 0 200px;
    }
}

@media (min-width: 1370px) {
    body {
        font-size: 18px;
    }
    .boxInformations>h4 {
        margin: 8px 0px 4px;
        font-size: 20px;
    }
    .pageFormRecherche {
        padding: 10px;
        width: 60%;
    }
    .boxGauche {
        flex: 1 0 266px;
        height: 250px;
    }
    .containerActivitesFlex {
        height: 500px;
        display: flex;
    }
    .boxInformations {
        height: 89px;
    }
    .box-aside {
        height: 160px;
    }
}

@media (min-width: 1626px) {
    .pageMain {
        margin: 60px 60px;
    }
    body {
        font-size: 25px;
    }
    .box-aside {
        height: 160px;
    }
    .containerActivitesFlex {
        height: 600px;
        display: flex;
    }
}

@media (min-width: 1822px) {
    .pageMain {
        margin: 60px 90px;
    }
    body {
        font-size: 22px;
    }
    .box-aside {
        height: 170px;
    }
    .boxGauche {
        flex: 1 0 310px;
    }
}
