* {
    box-sizing: border-box;
}

body {
    font-family: Raleway, Helvetica, sans-serif;
    font-size: 100%;
}

ul, a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    .header {
        margin: 20px 20px 0;
    }
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo img {
        width: 50%;
    }
    .hebergementsActivites {
        display: inline-flex;
        gap: 68px;
    }
    .hebergementsActivites a {
        color: black;
    }
    .hebergementsActivites li:nth-of-type(1) a {
        border-top: solid 2px #0065FC;
        padding-top: 44px;
        color: #0065FC;
    }
    .hebergementsActivites a:hover {
        border-top: none;
        ;
    }
    .main {
        margin: 0px 10px;
    }
    .form h1 {
        font-weight: bold;
    }
    .form p {
        margin-right: 30px;
    }
    input {
        font-weight: bold;
        color: black;
        border: none;
        border: solid 1px #F2F2F2;
        padding: 10px;
    }
    input:focus {
        outline: none !important;
        border-color: #719ECE;
        border-left: none;
    }
    input[type=submit] {
        background: #0065FC;
        position: relative;
        left: -5px;
        padding: 11.5px;
        border: none;
        color: white;
        cursor: grab;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .filtresConteneur {
        display: flex;
        align-items: center;
    }
    .filtresBase {
        margin-right: 10px;
    }
    .filtresBase:hover {
        cursor: grab;
        color: black;
    }
    .filtresIcones {
        background-color: #DEEBFF;
        color: #0065FC;
    }
    .hebergementsConteneur {
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }
    .gaucheConteneur {
        margin-top: 50px;
        background-color: #F2F2F2;
        border-radius: 30px;
        width: 100%;
    }
    .gaucheConteneur > h2 {
        margin-top: 50px;
        margin-bottom: 20px;
        padding-left: 20px;
    }
    .gaucheConteneur > h3 {
        padding-left: 30px;
        margin-bottom: 50px;
    }
    .articlesConteneur1 {
        display: flex;
        flex-wrap: wrap;
        margin: 0 10px;
        padding: 0;
    }
    .articleHebergement {
        flex: 1 1 40%;
        height: 250px;
    }
    .articlesInformations {
        height: 80px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .articlesInformations {
        padding: 0 15px;
    }
    .articlesInformations > h4 {
        margin: 0;
        margin: 10px 0 5px 0;
    }
    .articlesInformations > p {
        margin: 0;
    }
    .articlesEtoilesBleu {
        color: #0065FC;
    }
    .articlesEtoilesGris {
        color: #d1d1d1;
    }
    .populairesConteneur {
        margin: 0;
        margin-top: 20px;
        background-color: #F2F2F2;
        padding: 0 20px;
        border-radius: 30px;
    }
    .asideConteneur {
        display: flex;
        flex: 200px;
        margin: 0;
        height: 185px;
    }
    .droiteConteneur {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-bottom: 30px;
        row-gap: 20px;
    }
    .articlePopulaire:nth-of-type(3) {
        margin-right: 0;
    }
    .articlesInformations-aside > h4 {
        margin-bottom: 0;
    }
    .articlesInformations-aside > p {
        margin-top: 5px;
    }
    .activitesConteneur {
        margin-top: 60px;
        margin-bottom: 50px;
        padding: 0 20px;
    }
    .basConteneur {
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .activitesConteneur1 > a {
        color: black;
        margin: 0;
    }
    .activitesConteneur2 {
        width: 100%;
        height: 80%;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .activitesDoubleElementsConteneur {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .vieuxPort {
        width: 50%;
        height: 550px;
    }
    .fortDePomegues {
        height: 260px;
    }
    .ilesDuFrioul {
        height: 260px;
    }
    .parcNationalDesCalanques {
        width: 50%;
        height: 550px;
        margin-top: 30px;
        margin-left: 0;
    }
    .notreDameDeLaGarde {
        height: 260px;
        margin-top: 30px;
    }
    .parcLongChamp {
        height: 260px;
    }
    .imagesVerticalesConteneur {
        height: 90%;
        border-radius: 20px 20px 0 0;
    }
    .container-image-column {
        height: 80%;
        border-radius: 30px 30px 0 0;
    }
    .texteConteneur2 {
        padding-left: 20px;
        align-content: center;
        border-radius: 0 0 30px 30px;
    }
    .texteConteneur {
        padding-left: 20px;
        border-radius: 0 0 30px 30px;
    }
    .aPropos {
        background-color: #F2F2F2;
        width: 100%;
    }
    .piedDePageConteneur {
        display: flex;
        padding: 50px 90px;
    }
    .titresConteneur {
        flex: 1;
    }
    .footerListe {
        margin: 15px 0;
    }
    .footerListe a {
        color: black;
    }
    .titresConteneur h3 a {
        color: black;
    }
}
